/* Layout the page similar to the built-in post edit screen. */

#sc-settings {
	margin-right: 310px;
}

#sc-settings-content {
	width: 100%;
	float: left;
}

#sc-settings-sidebar {
	float: right;
	margin-right: -310px;
	width: 290px;
}

#sc-settings-sidebar .centered {
	text-align: center;
}

#sc-settings-sidebar .button-large {
	font-size: 17px;
	line-height: 30px;
	height: 32px;
}

#sc-settings-sidebar .last-blurb {
	font-size: 17px;
}

/* Alternative postbox class with no background or border. */
#sc-settings-sidebar .postbox-nobg {
	position: relative;
	min-width: 255px;
}

/* postbox overrides */
#sc-settings-sidebar .sidebar-container .postbox .inside {
	margin-bottom: 0;
}
/* License Stuff */
.sc-license-message { 
	display: inline-block; 
	margin-left: 7px;
}
