.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.grecaptcha-badge {
	z-index: 100;
}

.stripe-button-el {

	.simpay-styled & {
		text-decoration: none;

		&:hover {
			box-shadow: none;
		}
	}
}

// Loading state.
.simpay-checkout-form {

	&--loading {

		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			top: 0;
		}

		.simpay-form-control {
			opacity: 0.65;
		}
	}
}

// Error messages container.
.simpay-errors {
	margin-bottom: 15px;

	.simpay-styled & {
		font-family: $base-font;
		color: $error-text-color;
	}
}

// Test mode badge.
.simpay-test-mode-badge-container {
	text-align: center;

	.simpay-test-mode-badge {
		color: #a04903;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
		font-family: sans-serif;
		line-height: 10px;
		font-weight: 700;
		padding: 5px 7px;
		border-radius: 3px;
		background: #ffde92;
		display: inline-flex;
		align-items: center;
	}
}
