// Colors

$base-text-color: #333;
$input-text-color: #32325d;
$input-placeholder-color: #aab7c4;
$input-border-color: #d1d1d1;
$input-focus-border-color: #007acc;
$error-text-color: #eb1c26; // #fa755a;

// Forms

$input-height: 36px;
$line-height: 1.5;
