#wpadminbar .simpay-admin-bar-test-mode > .ab-item {
  background: #fdbc72;
  font-size: 11px;
  color: #fff; }
  #wpadminbar .simpay-admin-bar-test-mode > .ab-item:hover {
    background: #e37c4c !important;
    color: #fff !important; }
