/* Default admin CSS for the upgrade link */

a[href="admin.php?page=stripe-checkout-upgrade"] {
	color: #6bbc5b !important;
}

a[href="admin.php?page=stripe-checkout-upgrade"]:hover {
	color: #7ad368 !important;
}

