// Admin bar test mode active link
#wpadminbar .simpay-admin-bar-test-mode > .ab-item {
	background: #fdbc72;
	font-size: 11px;
	color: #fff;

	&:hover {
		background: #e37c4c !important;
		color: #fff !important;
	}
}

// Admin menu upgrade link
a[href="admin.php?page=simpay_upgrade"] {
	color: #3db634 !important;
}

// Inline plugin update message
.simpay-plugin-upgrade-notice {

	font-weight: 400;
	color: #fff;
	background: #d54d21;
	padding: 1em;
	margin: 9px 0;

	&::before {
		content: '\f348';
		display: inline-block;
		font: 400 18px/1 dashicons;
		speak: none;
		margin: 0 8px 0 -2px;
		vertical-align: top;
	}
}

// Hide inline plugin update message when updating (Lite & Pro)
#stripe-update {
	.updating-message {
		.simpay-plugin-upgrade-notice {
			display: none;
		}
	}
}

// Remove border on plugin list when there is no license, but there is an update.
.plugins .plugin-update-tr.simpay-plugin-update-license td {
	box-shadow: none;
}
