@import 'mixins';
@import 'variables';

.simpay-total-amount-value {
	font-style: normal;
}

.simpay-form-control {
	@include clearfix();
	margin-bottom: 15px;

	p {
		padding: 0;
		margin: 0;
	}

	ul {
		margin: 0 0 0.5em 0;

		li {
			list-style-type: none;

			label {
				display: block;
				margin: 0 0 0.5em 0;

				input[type="radio"], input[type="checkbox"] {
					margin-right: 0.5em;
				}
			}
		}
	}

	label {
		cursor: pointer;
		display: block;
	}

	// Entire field wrapper
	.simpay-field-wrap {
		@include clearfix();
	}
}

// Error messages container

.simpay-errors {
	//@include clearfix();
	color: $error-text-color;
	margin-bottom: 15px;
}

// Test mode badge

.simpay-test-mode-badge-container {

	.simpay-test-mode-badge {
		background-color: #f7e633;
		color: $base-text-color;
		border-radius: 5px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		padding: 5px 9px;
	}
}
