/* Lite public main */

/* Payment details at top of post */

.sc-payment-details-wrap { 
	background: #dff0d8;
	border: 0;
	padding: 15px;
	margin-bottom: 15px;
}

.sc-payment-details-error {
	background: #ffbaba;
}

/* Forms */

.sc-checkout-form {
	margin-bottom: 15px;
}

/* Twenty Sixteen theme disabled payment button hover/focus override. */

button[disabled].stripe-button-el:hover,
button[disabled].stripe-button-el:focus {
	padding: 0;
}
