.simpay-test-mode-badge-container {

	.simpay-test-mode-badge {
		color: #a04903;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 10px;
		font-weight: 700;
		padding: 5px 7px;
		border-radius: 3px;
		background: #ffde92;
		display: inline-flex;
		align-items: center;
	}
}

.simpay-external-link {

	.dashicons {
		opacity: 0.80;
		font-size: 16px;
		margin: 3px 0 0 2px;
		width: 16px;
		height: 16px;
		text-decoration: none;
	}

	&:hover {

		.dashicons {
			opacity: 1;
		}
	}
}

.simpay-settings-bubble {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin: 1px 0 -1px 5px;
	padding: 0 5px;
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #d63638;
	color: #fff;
	font-size: 11px;
	line-height: 1.6;
	text-align: center;
	z-index: 26;
	position: relative;

	&:empty {
		width: 10px;
		height: 10px;
		min-width: 10px;

		.nav-tab & {
			margin-top: 7px;
		}
	}
}

@keyframes simpay-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(#d63638, 0.65);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(#d63638, 0);
	}
}

// Admin menu notification indicator.
#adminmenu .simpay-admin-menu-notification-indicator {
	display: inline-block;
	margin-top: 6px;
	width: 8px;
	height: 8px;
	background-color: #d63638;
	border-radius: 50%;
	float: right;
	animation: simpay-pulse 2s infinite;
}

// Admin menu upgrade link
#adminmenu a[href^="https://wpsimplepay.com/lite-vs-pro"]:not(.simpay-upgrade-btn) {
	color: #fff;
	background-color: #347d39 !important;

	&:hover {
		color: #fff !important;
	}
}


#adminmenu .opensub a[href^="https://wpsimplepay.com/lite-vs-pro"]:not(.simpay-upgrade-btn) {
	margin-right: 6px;
}

.simpay-upgrade-link {
	color: #3db634 !important;
	font-weight: bold;
}

// Inline plugin update message
.simpay-plugin-upgrade-notice {

	font-weight: 400;
	color: #fff;
	background: #d54d21;
	padding: 1em;
	margin: 9px 0;

	&::before {
		content: "\f348";
		display: inline-block;
		font: 400 18px/1 dashicons;
		speak: none;
		margin: 0 8px 0 -2px;
		vertical-align: top;
	}
}

// Hide inline plugin update message when updating (Lite & Pro)
#stripe-update {

	.updating-message {

		.simpay-plugin-upgrade-notice {
			display: none;
		}
	}
}

.simpay-admin-notice-top-of-page {
	font-size: 13px;
	line-height: 1.4;
	color: #fff;
	margin-left: -20px;
	padding: 9px 32px 9px 20px;
	background: #2d6ca2;
	display: none;

	@media screen and ( min-width: 783px ) {
		padding: 10px 46px 10px 22px;
	}

	@media screen and ( min-width: 961px ) {
		text-align: center;
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}

	.button-link {
		position: absolute;
		top: 48px;
		right: -1px;
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		margin-left: 5px;
		padding: 6px 10px;

		@media screen and ( min-width: 601px ) {
			top: 0;
		}

		@media screen and ( min-width: 783px ) {
			right: 9px;
		}

		&:hover,
		&:active,
		&:focus {
			color: #fff;
			text-decoration: none;
		}
	}
}

/**
 * Product education dashboard widget
 */
#simpay-product-education .simpay-dashboard-widget-product-education {
	text-align: center;
	padding: 10px 30px;

	img {
		width: 200px;
		margin: 0 auto;
	}

	h2 {
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 -10px;
		padding: 0;
		line-height: 1.3;
	}

	.button + .button {
		margin-left: 5px;
	}

}

.simpay-admin-notice-update-plugin {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;

	&__copy {
		display: flex;
		align-items: center;
		flex-grow: 1;

		img {
			width: 150px;
			margin: 0 15px 3px 0;
		}
	}

	~ .notice-dismiss {
		top: 11px;
	}

	@media screen and (max-width: 782px) {
		flex-wrap: wrap;

		img {
			display: none;
		}

		.button.button-primary {
			margin-top: 10px;
		}

		~ .notice-dismiss {
			top: 0;
		}
	}
}

/**
 * Hide menu items that should not be launched directly.
 */
#adminmenu a[href*="page=simpay-setup-wizard"] {
	display: none;
}

/**
 * Style "New!" menu text.
 */
#adminmenu .simpay-menu-new {
	color: #f18500;
	vertical-align: super;
	font-size: 9px;
	font-weight: 600;
	padding-left: 2px;
}
