.simpay-settings-subsections {
	display: flex;
	align-items: center;
	box-shadow: inset 0 -1px 0 0 #ccc;
}

.simpay-settings-subsections__subsection {
	font-weight: 500;
	text-decoration: none;
	padding: 15px;
	display: flex;
	align-items: center;

	.dashicons {
		width: 18px;
		height: 18px;
		font-size: 18px;
		margin-right: 4px;
	}

	&.is-active {
		box-shadow: inset 0 -4px 0 0 currentColor;
		position: relative;
		z-index: 1;
	}

	&:not(.is-active) {
		color: #23282d;
	}
}

.simpay-settings {

	form > h2:not(.nav-tab-wrapper) {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

	.form-table td fieldset + p,
	.form-table td label + p,
	.form-table td select + p,
	.form-table td input + p {
		color: #666;
		font-style: italic;
	}

	.simpay-settings-subsections__subsection {
		display: flex;
		align-items: center;

		.simpay-settings-bubble {
			margin-left: 5px;
		}
	}
}

.simpay-settings .simpay-settings-captcha .simpay-settings-captcha-toggles {
	margin: 30px 0 0;
	display: flex;

	input[type="radio"] {
		display: none;
	}

	&__toggle {
		user-select: none;
		width: 160px;
		min-height: 160px;
		margin: 0 30px 0 0 !important;
		padding: 30px 15px 15px;
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

		&:hover {
			border: 1px solid #999;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
		}
	}

	input[type="radio"]:checked + .simpay-settings-captcha-toggles__toggle {
		border-color: #0e856a;
		box-shadow: 0 0 0 1px #0e856a;
	}

	#simpay-settings-captcha-type-none:checked + .simpay-settings-captcha-toggles__toggle {
		border-color: #b91c1b;
		box-shadow: 0 0 0 1px #b91c1b;
	}

	&__toggle-icon {
		width: 80px;
		height: 80px;
		margin: 15px 0;
	}

	&__toggle-label {
		line-height: 1.5;
		text-align: center;
		font-size: 16px;
		font-weight: 500;

		small {
			color: #666666;
			font-weight: normal;
			font-size: 13px;
			display: block;
		}
	}

	&__toggle-recommended,
	&__toggle-not-recommended {
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 5px 0;
	}

	&__toggle-recommended {
		color: #0f8569;
		background: #f4f9f7;
	}

	&__toggle-not-recommended {
		color: #b91c1b;
		background: #fef2f2;
	}

	label[for="simpay-settings-captcha-type-cloudflare-turnstile"] .simpay-settings-captcha-toggles__toggle-icon {
		width: 120px;
	}
}

.simpay-settings-general-recaptcha-no_captcha_warning,
.simpay-settings-hcaptcha_secret_key,
.simpay-settings-cloudflare_turnstile_secret_key,
.simpay-settings-recaptcha_score_threshold {

	th,
	td {
		padding-bottom: 50px !important;
	};
}
