$primary: #428bca;
$blue: $primary;
$green: #0e856a;
$orange: #e27730;
$red: #d63638;
$borderGray: #dddddd;
$borderDarkGray: #ccc;
$backgroundColor: #f8f8f8;
$fontSize: 16px;
$fontColor: #444444;
$fontColorLight: #777777;
$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$linkColor: $primary;
$linkColorHover: darken( $linkColor, 20% );
$marginBottom: 15px;
$buttonPrimary: $primary;
$buttonPrimaryHover: darken( $primary, 10% );
$buttonBlue: $blue;
$buttonBlueHover: darken( $blue, 10% );
$buttonGreen: $green;
$buttonGreenHover: darken( $green, 10% );
$buttonRed: $red;
$buttonRedHover: darken( $red, 10% );

@import 'partials/reset.scss';
@import 'partials/text.scss';
@import 'partials/buttons.scss';
@import 'partials/general.scss';
@import 'partials/media-queries.scss';
@import 'partials/summary-report.scss';
